<html>
    <head>
        {{{cms-init}}}
        <title>{{ content.title }}</title>
    </head>
    <body>
        <h1>Title is: {{ content.title }}!</h1>
        <h2>Hello, {{ name }}!</h2>
        <div>
            {{img content.image}}
        </div>
        {{{cms-area name="menu"}}}
        {{#block "body"}}
            <p>
                This is a home page
            </p>
        {{/block}}
        {{{cms-area name="footer"}}}
    </body>
</html>
