<html>
    <head>
        {{{init}}}
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Title is: {{title}}!</h1>
        <h2>{{greeting}}, {{addressee}}</h2>
        {{#block "body"}}
            main body
        {{/block}}
        {{meta.facebook.title}}
        <ul>
            {{#each children}}
                <li>
                    <a href="{{path}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        <hr>
        {{heroImage}}
        {{{area name="awards"}}}
    </body>
</html>
