<html>
    <head>
        {{{cms-init}}}
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Title is: {{title}}!</h1>
        <h2>{{greeting}}, {{addressee}}</h2>
        {{#block "body"}}
            main body
        {{/block}}
        {{meta.facebook.title}} -- {{meta.facebook.image}}
        <hr>
        {{{area name="awards"}}}
    </body>
</html>
