<html>
    <head>
        {{{cms-init}}}
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Title is: {{title}}!</h1>
        <h2>{{greeting}}, {{name}}</h2>
        {{#block "body"}}
            main body
        {{/block}}
    </body>
</html>
