<html>
    <head>
        {{{init}}}
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Title is: {{title}}!</h1>
        <h2>{{greeting}}, {{addressee}}</h2>
        {{#block "body"}}
            {{{cms-area name="awards"}}}
            main body
        {{/block}}
        {{meta.facebook.title}} -- {{meta.facebook.image}}
    </body>
</html>
