<html>
    <head>
        {{{cms-init}}}
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Title is: {{title}}!</h1>
        <h2>Hello, {{name}}</h2>
        <p>The time is : {{date}}</p>
    </body>
</html>
